<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    
    <!-- Import BootstrapVue and Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Import Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Import style.css -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-..." crossorigin="anonymous" />

    <title>Weather App</title>
</head>

<body>
    <section class="vh-100">
        <div class="container py-5">

            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-7 col-xl-5">

                    <div id="app" class="card text-white bg-image shadow-4-strong"
                        style="background-image: url('')">
                        <div class="row">
                            <div class="col-md-12">    
                                <!-- Header Row -->
                                <div class="header">
                                <!-- Navbar -->
                                <div class="navbar justify-content-center align-items-center">
                                    <a href="#" @click="switchToDailyForecast" class="mx-3">Today</a>
                                    <a href="#" @click="switchToWeeklyForecast" class="mx-3">Weekly</a>
                                    <a href="#" @click="" class="mx-3">Monthly</a>

                                    <!-- Toggle Unit Button and Options Container -->
                                    <div class="toggle-unit-container">
                                        <button class="toggle-unit-button" style="outline: none;" @click="toggleUnitMenu">
                                            <div class="fas fa-bars"></div>
                                        </button>
                                        <div class="unit-options" v-if="showUnitMenu">
                                            <button @click="toggleUnit('metric')">Celsius</button>
                                            <button @click="toggleUnit('imperial')">Fahrenheit</button>
                                        </div>
                                    </div>
                                </div>


                                <!-- Search Bar -->
                                <div class="search-bar">
                                    <div class="search-container">
                                        <input type="text" id="cityInput" placeholder="Search City" v-model="searchedCity" @keydown.enter="searchWeather">
                                        <button class="search-button" @click="searchWeather">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>

                                </div>
                            </div>
                        </div>
        

                        <div class="row">
                            <div class="col-md-12">

                        <!-- Daily Forecast Section -->
                        <div class="container">
                            <div class="forecast-container text-center">
                                <!-- Forecast Section Column -->
                                <div v-if="!showWeeklyForecast" class="forecast-section">
                                    <div v-if="loading">Loading...</div>
                                    <div v-else>
                                        <!-- Error Message -->
                                        <div v-if="error">{{ error }}</div>

                                        <!-- Current Weather -->
                                        <div v-if="weatherData">
                                            <h1 class="city">{{ getFullLocation() }}</h1>
                                            <p class="description">{{ weatherData.weather[0].description }}</p>
                                            <span class="temperature">{{ roundTemperature(weatherData.main.temp) }}°<span
                                                    v-if="unit === 'metric'">C</span><span
                                                    v-else>F</span></span>
                                            <p class="minmax">High: {{ roundTemperature(weatherData.main.temp_max) }}°<span
                                                    v-if="unit === 'metric'">C</span><span
                                                    v-else>F</span> • Low: {{ roundTemperature(weatherData.main.temp_min) }}°<span
                                                    v-if="unit === 'metric'">C</span><span
                                                    v-else>F</span></p>
                                        </div>

                                        <div class="card-body p-4 border-top border-bottom mb-2">
                                            <div class="row text-center justify-content-center">
                                                <!-- Morning Card -->
                                                <div class="forecast-card">
                                                    <h2>Morning</h2>
                                                    <p>{{ roundTemperature(morningTemperature) }}°<span v-if="unit === 'metric'">C</span><span
                                                            v-else>F</span></p>
                                                </div>

                                                <!-- Afternoon Card -->
                                                <div class="forecast-card">
                                                    <h2>Afternoon</h2>
                                                    <p>{{ roundTemperature(afternoonTemperature) }}°<span v-if="unit === 'metric'">C</span><span
                                                            v-else>F</span></p>
                                                </div>

                                                <!-- Night Card -->
                                                <div class="forecast-card">
                                                    <h2>Night</h2>
                                                    <p>{{ roundTemperature(nightTemperature) }}°<span v-if="unit === 'metric'">C</span><span
                                                            v-else>F</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <!-- Weekly Forecast Section -->
                            <div class="weekly-forecast no-Background" v-if="weatherData && showWeeklyForecast">
                                <h1 class="city">6 day forecast {{ getFullLocation() }}</h1>
                                <div v-for="(forecast, date) in weatherData.weeklyWeatherData" :key="date">
                                    <div :class="{ 'day-card': true, 'expanded-card': expandedDays.includes(date) }">
                                        <button class="btn btn-outline-info mb-2" @click="toggleDayExpansion(date)">
                                            {{ formatDay(date) }}: {{ forecast[0].temperature }}°<span v-if="unit === 'metric'">C</span><span v-else>F</span>
                                        </button>
                                        <div v-show="expandedDays.includes(date)">
                                            <div v-if="forecast.length > 0" class="card text-white mb-3">
                                                <div class="card-header">{{ formatDay(date) }}</div>
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ forecast[0].description }}</h5>
                                                    <p class="card-text">
                                                        Temperature: {{ forecast[0].temperature }}°<span v-if="unit === 'metric'">C</span><span
                                                            v-else>F</span><br>
                                                        High: {{ forecast[0].high }}°<span v-if="unit === 'metric'">C</span><span
                                                            v-else>F</span> /
                                                        Low: {{ forecast[0].low }}°<span v-if="unit === 'metric'">C</span><span v-else>F</span><br>
                                                        Humidity: {{ forecast[0].humidity }}%<br>
                                                        Wind: {{ forecast[0].windSpeed }} mph {{ forecast[0].windDirection }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  

                        <!-- Map -->
                        <div id="map" style='width: 400px; height: 300px;'></div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <!-- Import Js -->

    <script src="app.js"></script>
</body>

</html>