body {
  padding-top: 100px; 
  background-color: #1d1d23;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.temperature{
  font-weight: 700;
  font-size: 60px;
}

.weekly-temperature{
  font-weight: 700;
  font-size: 60px;
  padding-left: 60px;
}

.description{
  margin-bottom: -20px;
}

.forecast-card h2 {
  font-size: 20px;
  margin: 27px;
}

.mx-3{
  padding-left: 100px;
  padding-right: 100px;
  border-right: 1px solid #29262c;
  color: aliceblue;;

}

.bg-image{
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #111315; /* You can adjust the background color */
  padding: 20px;
  z-index: 1000; /* Ensure it's on top of other elements */
}
.container {
  display: flex;
  justify-content: space-between; /* Align items to the start and end of the container */
}

.navbar a:focus {
  color: #b148d2;
}

.toggle-unit-container {
  position: relative;
}

.unit-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #29262c; /* Set the background color */
  border: 1px solid #b148d2; /* Add a border for separation */
  border-radius: 5px; 
  padding: 5px;
  color: white;
}
.unit-options-container {
  position: relative;
}

.unit-options button{
  background-color: #39353c;
  border-color: #111315;
  color: #fff;
}

.toggle-unit-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #b148d2;
}

.toggle-unit-button .fas.fa-bars {
  font-size: 20px; 
}


/* Remove blinking cursor from all elements */
* {
  caret-color: transparent;
}

.search-bar {
  margin: 10px ;
  width: 900px;
  background-color:#333;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #111315;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3); 
}

.weekly-forecast .city {
  color: rgb(0, 0, 0) !important;
  border-radius: 10px;
  width: 600px;
  font-weight: 700;
  font-size: 40px;
}

#cityInput {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background: transparent; 
}

.search-button {
  background-color: rgba(177,72,210, 0.5); 
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgba(177,72,210, 0.8);
}

.weekly-forecast {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-left: 150px;
  margin-top: -80px;
}

.divider {
  width: 1px; 
  background-color: #ddd; 
  margin: 0 30px; 
  margin-top: 20px;
}

.expanded-card {
  width: 500px;
  margin-right: 10px;
}

.day-card button {
  width: 130px;
}

.card-title{
  margin-top: -15px;
}

.card {
  background-color: rgba(0, 0, 0, 0.3); 
  width: 600px;
  height: 200px;
  overflow: hidden;
  margin-bottom: 5%;
  border-radius: 10px;
}
.dayCard{
  width: 600px;
  height: 200px;
  overflow: hidden;
  background-color: #fff;
  margin-top: 20px; /* Add margin to separate from the previous section */
  margin-bottom: 5%;
  border-radius: 10px;

}

.detailedCard{
  width: 600px;
  height: 300px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;

}

.ListItem{
  display: flex;
  align-items: center;
}

.wListItem{
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.wListItem svg{
  margin-bottom: 0px !important;
}

svg{
  margin-bottom: 17px !important;
  margin-right: 40px !important;
}
